fetch_all_posts_task:
  description: >
    Fetch all blog posts from the blog {blog_url}.
    Save these posts to a CSV file at {blog_posts_file_path}.
  expected_output: >
    A string with the path of the CSV file containing the content of the posts.


identify_posts_cannibalization_task:
  description: >
    Read a CSV file containing all posts from a blog and identify duplicate and similar posts.
    Save the result to a YAML file.
  expected_output: >
    A string with the path of the YAML file containing the result of work.


decide_winning_post_task:
  description: >
    Consider that you have the information listed below about two blog posts:
      - post01_id: {post01_id}
      - post01_keyword: {post01_keyword}
      - post01_link: {post01_link}
      - post02_id: {post02_id}
      - post02_keyword: {post02_keyword}
      - post02_link: {post02_link}
    
    The first post has the prefix "post01_" and the second has the prefix "post02_".
    The suffixes of both posts represent information about their attributes.
    
    Identify which of the posts is the winner using their URLs as {post01_link} and {post02_link}.
  expected_output: >
    A YAML string with data from the winning and losing posts, as below:
      - winner_id: post id of the winner post ({post01_id} or {post02_id})
      - winner_link: link of the winner post ({post01_link} or {post02_link})
      - winner_keyword: keyword of the winner post
      - loser_id: post id of the loser post ({post01_id} or {post02_id})
      - loser_link: link of the loser post ({post01_link} or {post02_link})


fetch_and_save_content_of_posts_task:
  description: >
    Consider that you have the information in YAML format about two blog posts:
      - winner_id: post id of the winner post ({post01_id} or {post02_id})
      - winner_link: link of the winner post ({post01_link} or {post02_link})
      - winner_keyword: keyword of the winner post
      - loser_id: post id of the loser post ({post01_id} or {post02_id})
      - loser_link: link of the loser post ({post01_link} or {post02_link})

    Fetch and save the content of winner and loser posts hosted at {blog_url} with the id parameters "winner_id", "loser_id" and duplicate_hash={duplicate_hash}
  expected_output: >
    A string informing that the posts were saved.


put_the_losing_post_in_draft_task:
  description: >
    Consider that you have the information in YAML format about two blog posts:
      - winner_id: post id of the winner post ({post01_id} or {post02_id})
      - loser_id: post id of the loser post ({post01_id} or {post02_id})
      - winner_keyword: keyword of the winner post

    You must change the status of the losing post (post_status attribute), hosted at {blog_url}, to "draft".
  expected_output: >
    A string informing that the post status were changed.


put_the_winning_post_in_pending_task:
  description: >
    Consider that you have the information in YAML format about two blog posts:
      - winner_id: post id of the winner post ({post01_id} or {post02_id})
      - loser_id: post id of the loser post ({post01_id} or {post02_id})
      - winner_keyword: keyword of the winner post

    You must change the status of the winner post (post_status attribute), hosted at {blog_url}, to "pending".
  expected_output: >
    A string informing that the post status were changed.


merge_and_improve_winner_post_content_task:
  description: >
    Consider that you have the information in YAML format about two blog posts:
      - winner_id: post id of the winner post ({post01_id} or {post02_id})
      - loser_id: post id of the loser post ({post01_id} or {post02_id})
      - winner_keyword: keyword of the winner post
    
    You MUST READ THE TWO FILES with content of the winner and loser posts.
    To do this, you can construct the path for each file like this:
      - path to winning article: tmp/posts/{duplicate_hash}_winner_winner_id.html (replace "winner_id" with the post id you received in YAML)
      - path to losing article: tmp/posts/{duplicate_hash}_loser_loser_id.html (replace "loser_id" with the post id you received in YAML)

    Before proceeding, ensure that you have read the contents of both files.
    DO NOT PROCEED if you have read the contents of only one of the files.

    With the contents of the two files, now your goal is to improve the "winner post" using valuable elements found in the "loser post". Follow the guidelines below:

    1. **Introduction**:
      Add an engaging introduction that highlights the importance of the article's topic. Ensure it grabs the reader's attention from the start.

    2. **Organization and Clarity**:
      Improve the article's structure with clear and objective subheadings. Ensure that each section flows logically into the next.

    3. **Detailing Ideas**:
      Expand sections with more details inspired by the "loser post". Integrate any valuable insights, statistics, or examples that enhance the content.

    4. **Additional Content**:
      Include new sections or paragraphs that enrich the article's content. Consider adding:
        - Common Mistakes and Pitfalls to Avoid
        - Useful Tools or Methods
        - Frequently Asked Questions or Common Doubts Sections

    5. **SEO and Relevance**:
      Incorporate SEO tips and optimize the article for the following keyword: "winner_keyword". Ensure the keyword is naturally integrated throughout the article.

    6. **Examples and Categories**:
      Maintain and organize examples or lists divided by relevant categories. Ensure examples are relevant and enhance the reader's understanding.

    7. **Inspirational Quotes**:
      Add an inspirational or relevant quote related to the topic. Ensure the quote adds value and resonates with the readers. Do not use "Inspirational Quote" as a section title.

    8. **Invitation for Interaction**:
      Include an invitation for readers to interact or share their opinions, increasing audience engagement. Use engaging language to prompt responses. Do not use "Invitation for Interaction" as a section title.

    9. **Call to Action (CTA) in the Middle of the Article**:
      Add a CTA in the middle of the article within a new section called "Oportunidade única". Ensure this CTA is placed around the midpoint of the article (e.g., after the second paragraph if the article has four paragraphs). Create unique CTAs in Portuguese inspired by the following text, ensuring the link is embedded in an action, not as plain text:
      "Em um treinamento EXCLUSIVO e GRATUITO de 15 minutos, vou te ajudar a construir e/ou transformar seus resultados na internet. [Acesse aqui](https://rafaelcarvalho.tv/treinamento-mcc)". Do not use "Call to Action" as a section title.

    10. **Conclusion**:
        Improve the conclusion to reinforce the importance of the article's topic and promote additional actions or services if applicable. Summarize key points and leave a lasting impression.

    11. **Call to Action (CTA) at the End of the Article**:
        Add a CTA at the very end of the article inviting readers to the same free training. Use a variation of the text used in the first CTA, in Portuguese, creating a unique version:
        "Não perca a chance de participar de um treinamento EXCLUSIVO e GRATUITO de 15 minutos que vai transformar seus resultados na internet. [Inscreva-se agora](https://rafaelcarvalho.tv/treinamento-mcc)". Do not use "Call to Action" as a section title.

    **Instructions**:
      - Ensure that the generated post is in Brazilian Portuguese.
      - Write in the first person, as if Rafael Carvalho is speaking directly to the reader.
      - Maintain the tone and style of the "winning post".
      - Focus on adding value to the content without losing clarity and objectivity.
      - Use elements from the "loser post" only when they are pertinent and significantly improve the "winner post".
      - Ensure that the first CTA is placed around the midpoint of the article and the second CTA is placed at the very end.
      - Do not use literal section titles such as "Inspirational Quote", "Invitation for Interaction", or "Call to Action". Integrate these elements naturally into the content.
      - All text, including section titles and content, must be in Portuguese (Brazil).
      - Use HTML formatting only for titles, paragraphs, lists, and links.
      - Do not include any HTML headers, footers, or other document structure tags. The output should only contain the body content with minimal HTML formatting.
  expected_output: >
    The new content created to improve the winning post.


update_winner_post_content_task:
  description: >
    Your goal is update the content of a wordpress blog post.

    Consider that you have the information in YAML format about the post to be updated:
      - winner_id: post id ({post01_id} or {post02_id}) of the post you will update content

    You must now update the blog post hosted on {blog_url}.
    To do that assume:
      - post_id = winner_id
      - file_path = tmp/posts/{duplicate_hash}_winner_new.html
  expected_output: >
    Updated post content.


get_posts_metrics_task:
  description: >
    Your goal is get metrics of a blog at {blog_url} and store in a databse at {database_path} in the table {table_name}.
  expected_output: >
    Metrics about blog posts updated.


fetch_all_posts_save_to_database_task:
  description: >
    Fetch all blog posts from the blog {blog_url}.
    Save these posts to a database at {database_path} in the table {table_name}.
  expected_output: >
    Posts saved.


mark_posts_to_be_improved_task:
  description: >
    Analyze the posts stored in database {database_path} and table {table_name} and mark the ones that need improvement.
  expected_output: >
    Posts tagged for improvement.


analyze_article_task:
  description: >
    Analyze the article at {post_link} and identify areas for improvement.
  expected_output: >
    A detailed report with areas that need improvement.


recommend_improvements_task:
  description: >
    Provide detailed report of recommendations for improvements based on your analysis of the article, considering the keyword: {keyword}.
    Provide a new section organization for the article, including topics and subtopics.
    For each topic and subtopic, include a brief statement of what should be written and a suggested word length.
    The new structure should be richer in content, expand the section structure, and improve SEO for the given keyword.
    In your final recommendation report, separate the new article structure into 4 parts, you can call them part 1, part 2, part 3 and part 4. This division into parts will be used to delegate the writing of each of the parts to different writers.
  expected_output: >
    A report of detailed recommendations for improving the article.


append_article_content_task:
  description: >
    You will receive the content created for a blog post and you must add this content to the post. 
    To do this consider:
      - article_content: the content you received;
      - post_id: {post_id}
      - database_path: {database_path}
      - table_name: {table_name}
  expected_output: >
    The content appended to the post.


rewrite_article_first_part_task:
  description: >
    Write the content of part 1 of the article recommendation report.
    Consider the report's recommendations for text quality and word count for each section.
    Optimize the text for SEO considering the keyword {keyword}.

    **Additional instructions for writing the article**:
      - Ensure that the generated post is in Brazilian Portuguese.
      - All text, including section titles and content, must be in Portuguese (Brazil).
      - Write in the first person, as if Rafael Carvalho is speaking directly to the reader.
      - Use HTML formatting for titles, paragraphs, lists, and links.
      - Never write fewer than the recommended number of words for each section or subsection. You can write more words than recommended, never fewer words.
  expected_output: >
    Content created for part 1 according to the report recommendations and optimized for SEO.


rewrite_article_second_part_task:
  description: >
    Write the content of part 2 of the article recommendation report.
    Consider the report's recommendations for text quality and word count for each section.
    Optimize the text for SEO considering the keyword {keyword}.

    **Additional instructions for writing the article**:
      - Ensure that the generated post is in Brazilian Portuguese.
      - All text, including section titles and content, must be in Portuguese (Brazil).
      - Write in the first person, as if Rafael Carvalho is speaking directly to the reader.
      - Use HTML formatting for titles, paragraphs, lists, and links.
      - Never write fewer than the recommended number of words for each section or subsection. You can write more words than recommended, never fewer words.
  expected_output: >
    Content created for part 2 according to the report recommendations and optimized for SEO.
